* {
   margin: 0;
}

.painel {
   background-image: 
   linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
   url('https://e1.pxfuel.com/desktop-wallpaper/253/26/desktop-wallpaper-s-football-stadium-football-ground.jpg');
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   color: white;
   display: flex;
   flex-direction: column;
   gap: 30px;
   padding: 15px;
   font-family: "Poppins", sans-serif;
}

header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   
}

.titulos-italicos {
   font-style: italic;
}

.titulos {
   display: flex;
   flex-direction: column;
   gap: 15px;
   padding: 20px;
}

.titulos h1 {
   font-size: 40px;
}

.jogos-concorrentes {
   display: flex;
   justify-content: space-around;
}

.jogo img {

   border-radius: 10%;
   border: 5px solid white;
   box-shadow: 0 10px 20px black;
}

.jogo p {
 text-align: center;
 margin-top: 20px;
 font-size: 20px;
 color: wheat;
 background: rgba(0, 0, 0,0.7);
 border-radius: 10%;
 box-shadow: 0 0px 10px rgb(255, 255, 255);
}

.jogo .senna:hover{
   box-shadow: 0 10px 20px rgb(255, 255, 255);
}
.jogo .mike:hover{
   box-shadow: 0 10px 20px rgb(255, 183, 0);
}

.jogo .pele:hover{
   box-shadow: 0 10px 20px rgb(242, 255, 0);
}

.jogo .jordan:hover{
   box-shadow: 0 10px 20px rgb(255, 0, 0);
}

.jogo .PHELPS:hover{
   box-shadow: 0 10px 20px rgb(0, 68, 255);
}

.jogo .bolt:hover{
   box-shadow: 0 10px 20px rgb(9, 255, 1);
}




.jogo {
   cursor: pointer;
   width: 200px;
   font-weight: 500;
   word-wrap: break-word; 
}

.jogo:hover {
   transform: scale(1.1);
   transition: 0.4s;
}

.grafico  {
   height: 500px;
   display: flex;
   justify-content: center;
   margin-bottom: 30px;
   gap: 30px;
   background-color: transparent;
   color: red;
}



.publicacao {
   border: 5px solid #4CAF50; /* Cor da borda */
   border-radius: 15px; /* Bordas arredondadas */
   padding: 10px; /* Espaçamento interno */
   margin: 20px 0; /* Margem para separar da página */
   background-color: transparent;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
   color:aqua;
   transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efeito suave ao passar o mouse */
 }
 
 .publicacao:hover {
   transform: translateY(-5px); /* Levanta a caixa ao passar o mouse */
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Aumenta a sombra no hover */
 }
 
 .publicacao h2 {
   color: #333; /* Cor do título */
   font-size: 24px; /* Tamanho do título */
   margin-bottom: 15px; /* Espaço abaixo do título */
 }
 
 .publicacao p {
   color: #666; /* Cor do texto */
   font-size: 16px; /* Tamanho do texto */
   line-height: 1.6; /* Espaçamento entre linhas */
 }
 