@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #0c204c;
    --secondary: #E30613 ;
    --logo-color: #FFCC00;
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
background-image: url('../img/formula\ 1\ login.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Faz com que a imagem cubra toda a tela */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    background-position: center; /* Centraliza a imagem */
   
    background-size: cover;
}

#error_login{
    display: none;
    color: #CC0000;
    font-size: 18px;
    visibility: hidden;
}

.header {
    background-color: transparent;
    width: 100%;
    height: 10vh;
    
    display: flex;
    align-items: center;
    padding: 0 20px;
    /* border-bottom: 3px solid #ffffff; Bordas em vermelho Milan */
}

.logo-link {
    display: flex;
    align-items: center;
}

.header .logo {
    width: 60px; /* Ajuste a largura conforme necessário */
    height: auto;
    margin-left: 100px;
}

/* Estilo de navegação */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;


}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 80px;
    margin-left: 30px;
}

.nav-button {
    font-weight: 500;
    text-decoration: none;
    background-color: #DA291C; /* Vermelho Milan */
    color: white;
    box-shadow: 0 3px 15px rgba(218, 41, 28, 0.7); /* Sombra vermelha suave */
    padding: 10px 20px;
    border-radius: 25px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.nav-button:hover {
    transform: scale(1.05);
    background-color: #000000; /* Preto ao passar o mouse */
    color: #DA291C; /* Vermelho Milan no texto */
}

/* Estilo para o ícone de perfil */
.profile-link {
    display: flex;
    align-items: center;
    /* border: 4px solid rgb(181, 10, 10); Borda vermelha Milan */
    border-radius: 20%; 
    
}

.profile {
    width: 40px;
    height: auto;
   border-radius: 20%;
   margin-right: 100px;
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4rem;
}

.card {
    margin: 1% 0;
    width: calc(fit-content + 120px);
    background: transparent;
    border-radius: 30px;
    padding: 25px 100px;
    border: 5px solid black;
    /* box-shadow: 0 10px 200px red; */
    backdrop-filter: blur(10px);
    position: absolute;
    /* transform: translatey(-5vw); */
}

.card h1 {
    color: rgba(255, 0, 0, 0.77);   font-size: 36px;
    text-align: center;
}

.card .main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
}

.card .input-boxlogin {
    
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.cardCad {
    transform: translatey(-15vw);
    width: 900px;
    height: fit-content;
    padding: 25px 40px;
    perspective: 10000px;
    position: absolute;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: fit-content;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 40px;
    border-radius: 12px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
}

.card-back {
    transform: rotateY(180deg);
    margin: 1% 0;
}

.card_row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.esquerda, .direita {
    width: 40%;
}

.esquerda {
    margin-left: 4%;
}

.rotated .card-inner {
    transform: rotateY(180deg);
}

.input-boxlogin input {
    width: 100%;
    height: 100%;
    /* background: transparent; */
    border: none;
    outline: none;
    border: 7px solid var(logo);
    border-radius: 40px;
    box-shadow: 0 4px 8px red;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 20px;
}

.input-boxlogin input::placeholder {
    color: var(--primary) ;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box span {
    display: flex;
    justify-content: center;
    margin-right: 10%;
}

.input-box input {
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.1);

    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 20px;
}

.input-boxlogin i {
    position: absolute;
    right: 40px;
    top: 30%;
    font-size: 20px;
    color: var();
}
.input-box i {
    position: absolute;
    right: 40px;
    top: 80%;
    transform: translate(-50%);
    font-size: 20px;
    color: var(--primary);
}

.cidade {
    display: flex;
}

.cidade input {
    width: 60%;
    border-radius: none;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    font-size: 14px;
    color: #000000;
    padding: 10px 20px;
    border-top-left-radius: 40px !important;
    border-bottom-left-radius: 40px !important;
}

.cidade select {
    width: 30%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, .2);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    font-size: 16px;
    color: #000000;
    padding: 10px 0px;
    -webkit-appearance: none;
    -moz-appearance: none; /* Para Firefox */
    appearance: none;
}

.link-to {
    text-decoration: none;
    width: 100%;
    background: white;
   border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px var(--primary);
    cursor: pointer;
    font-size: 16px;
    color: var(--primary);
    font-weight: 600;
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: color 0.3s ease;
    padding: 12px 0;
}

.link-to:hover {

    color: var(--primary);
    box-shadow: 0 0 20px var(--primary);
   
    /* animation: neon-animation 1.5s infinite alternate;
 */}
.entrar{
align-self: center;
width: 100% !important  ;

}
.btn {
    padding: 0px;
    height: 45px;
    width: 30%;
    position: absolute;
    left: 0;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 16px;
    color: var(--primary);
    font-weight: 600;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease, box-shadow 0.3s ease;
}

.btn::before {
    width: 100%;
    background: white;
    border: 0px solid var(--primary);
    border-radius: 40px;
    box-shadow: 0 0 10px var(--primary);
    cursor: pointer;
    font-size: 16px;
    color: var(--primary);
    font-weight: 600;
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: color 0.3s ease, box-shadow 0.3s ease;
    padding: 12px 0;
}
/* 
.btn:hover::before {
    opacity: 1;
} */

.btn:hover {
    color: var(--primary);
    box-shadow: 0 0 20px var(--primary);
}

.senha-requisitos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #CC0000;
    padding-top: 30px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    align-items: center;
}

#span_senha {
    display: none;
    visibility: hidden;
    color: #CC0000;
}
.s{
    width: 100%;
    display: flex;
    justify-content: space-between  ;
    margin-top: 20px;
    
    }
.hidden {
    display: none;
}
    
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}


   
#input_data{
width: 90%;
text-align: center;
color: var(--primary);
     }

     #messageBox {
        position: fixed;
        top: 80%;
        right: 5%;
        botton: 0;
        padding: 20px;
        border-radius: 12px;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, .2);
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
    }

    #progressBar {
        width: 100%;
        height: 10px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 5px;
        border: 2px solid rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin-top: 10px;
    }

    #progress {
        height: 100%;
        width: 100%;
        background-color: var(--logo-color);
        transition: width 1.5s linear; /* Transição para a largura */
    }